*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
.container{
    background-color: #1c1c25;    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.circle{
    width: 600px;
    height: 600px;
    background-image: linear-gradient(to bottom, #c850c0, #4158d0);
    border-radius: 100%;
    position: absolute;
    left: 40%;
}
.box_cart{
    background-color: rgba(255, 255, 255, 0.15);
    max-width: 560px;
    width: 100%;
    height: 300px;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.3);
    cursor: pointer;
    padding: 32px;
}
.logo{
    text-align: right;
}
.img_logo{
    width: 70px;
}
.sim{}
.img_sim{
    width: 80px;
}
.content_cart{
    font-size: 35px;
    margin: 30px 0px;
    color: #fff;
    font-weight: bold;
}
.number_cart{}
.info_cart{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: bold;
}
.text_info{
    letter-spacing: 2px;
}
.number_info{}